

.Appdash {
  /* padding: 0.5rem 3.5rem; */
  color: var(--black);
  background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.AppGlassdash {
  display: grid;
  height: 97%;
  width: 97%;
  background: var(--glass);
  border-radius: 2rem;
  gap: 16px;
  grid-template-columns: 11rem auto 20rem;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .AppGlassdash{
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  } 
}

@media screen and (max-width: 768px) {
  .AppGlassdash{
    grid-template-columns: 1fr;
  } 
}
.calendar-container{
    
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
   
   
}
.fc-event{
    background: var(--orange-gradient)!important;
    color: black;
}
.fc .fc-timegrid-slot{
    height: 2.5rem!important;
    color: black;
}
td{
    border : 1px solid var(--grey)!important
}
@media screen and (max-width: 1200px) {
    .AppGlassdach{
      grid-template-columns: 10% 50% auto;
      overflow-y: scroll;
    } 
  }
  
  @media screen and (max-width: 768px) {
    .AppGlassdach{
      grid-template-columns: 1fr;
    } 
  }